.page-itens{
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.cards{
    /* border: 1px solid black; */
    width: 90%;
    height: 96%;
    /* padding: 15px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
}

.card-item{
    /* border: 1px solid red; */
    width: 390px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-left: 5%; */
    /* margin-bottom: 5%; */
    margin: 0px 16px;
}

.card-item h4{
    color: #0288d1;
}

.card-item span{
    font-size: 16px;
    line-height: 1.5;
}